<a href="https://colab.research.google.com/github/RadhitaPasha/Praktikum2_G.231.22.0121/blob/main/Praktikum2_G.231.22.0121.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Algoritma**

In [2]:
def selectionSort(alist):
  for slot in range(0,len(alist)-1):
    position=slot
    for location in range(slot+1,len(alist)):
      if alist[location]<alist[position]:
        position = location

**KODE PROGRAM**

In [18]:
def selectionSort(data):
  for slot in range(0,len(data)-1):
    position = slot
    for location in range(slot+1,len(data)):
      if data[location]<data[position]:
        position = location

    temp = data[slot]
    data[slot] = data[position]
    data[position] = temp
    print(data)
angka = [4,8,6,5,3]
print(angka)
selectionSort(angka)

[4, 8, 6, 5, 3]
[3, 8, 6, 5, 4]
[3, 4, 6, 5, 8]
[3, 4, 5, 6, 8]
[3, 4, 5, 6, 8]

**Membuat Data Tuple dengan tampilan akhir nilai minimal dari data tuple tersebut**

In [ ]:
tup1 = ('Nama : Dina','Umur : 7 tahun','Nama : Rudi','Umur : 8 tahun','Nama : Kenzie','Umur : 10 tahun')
tup_ganjil = (1,3,5,7,9)
print(tup1)
print(tup_ganjil)
#mencari nilai minimal pada tup_ganjil
print(min(tup_ganjil))
#mencari nilai minimal pada tup1
print(min(tup1))

('Nama : Dina', 'Umur : 7 tahun', 'Nama : Rudi', 'Umur : 8 tahun', 'Nama : Kenzie', 'Umur : 10 tahun')
(1, 3, 5, 7, 9)
1
Nama : Dina

**Membuat Data Dictionary**

In [ ]:
Data_Mobil = {'Nama Mobil': 'Avanza','Merk': 'Toyota', 'Produk': 'Jepang' }
print(Data_Mobil)
print("Data_Mobil['Nama Mobil']: ", Data_Mobil['Nama Mobil'])
#hasil banyaknya data pada Data_Mobil
len(Data_Mobil)

{'Nama Mobil': 'Avanza', 'Merk': 'Toyota', 'Produk': 'Jepang'}
Data_Mobil['Nama Mobil']:  Avanza

3